form{
  width: 372px;
  margin: 40px auto;
}

.form-group input{
  height: 44px;
}

form button{
  background: #00aae5;
  border: 0;
  width: 100%;
  height: 44px;
}
:host{ background: #f5f5f5; min-height: 400px; display: block; }

