<form #form="ngForm" (ngSubmit)="login()">
  <div class="form-group">
<!--    #phone 模板引用变量 -->
    <input type="text" class="form-control"
           name="phone" placeholder="请输入手机号"
           [(ngModel)]="model.phone" required pattern="^1\d{10}$"
           #phone="ngModel"
    >
    <div class="error" [hidden]="phone.valid || phone.untouched">
      <span *ngIf="phone?.errors?.required">手机号码不能为空</span>
      <span *ngIf="phone?.errors?.pattern">手机号码格式不正确</span>
    </div>
  </div>

  <div class="form-group">
    <input type="password" class="form-control"
           name="password" placeholder="请输入密码"
           [(ngModel)]="model.password" #password="ngModel"
           required
    >
    <div class="error" [hidden]="password.valid || password.untouched">
      <span *ngIf="password?.errors?.required">密码必须</span>
      <span *ngIf="password?.errors?.pattern">手机号码非法</span>
    </div>
  </div>

  <div class="cb-group">
    <label>
      <input type="checkbox">
      <span>7天自动登录</span>
    </label>
    <a href="">忘记密码</a>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!form.valid || isShow" >登录</button>
</form>
