<form action="">
  <div class="form-grop">
    <i class="fa fa-address-book">用户名</i><label>
    <input type="text" class="form-control">
  </label>
  </div>
  <div class="form-grop">
    <i class="fa fa-camera-retro">密码</i><label>
    <input type="password" class="form-control">
  </label>
  </div>
  <div class="form-grop">
    <i >确认密码</i><label>
    <input type="password" placeholder="确认密码" class="form-control">
  </label>
  </div>

  <div class="form-grop">
    <button>确定</button>
  </div>

</form>
