form {
  width: 16.6rem;
  margin: 0 auto;
}
form .form-grop {
  height: 2rem;
  margin-bottom: 1.1rem;
}
.form-grop i{
  width: 4.9rem;
  float: left;
  text-align: right;
  margin-right: 0.2rem;
  align-items: center;
  line-height: 2rem;
}
.error{
  color: red;
}
input:focus{
  border-color: #488ee7;
}
form input {
  height: 30px;
  box-sizing:border-box;
  padding-left:0.3rem;
}
form button{
  width: 5rem;
  height: 2rem;
  background-color: #00aae5;
  border: 0 solid white;
  border-radius: 5rem;
  color: white;
}
